# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify common Data Science libraries  
- Create and share Jupyter Notebooks  
- Use Jupyter Notebook to perform basic arithmetic operations  
- Demonstrate Data Science Tools and Ecosystem concepts

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Javacript

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matpolotlib


| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Claude Thompsonre